body {
  margin: 0;
}

#start-screen {
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 1;
  transition: 0s opacity;
}

#start-screen.fade-out {
  opacity: 0;
}

#start-menu {
  position: absolute;
  top: 53%;
  width: 100%;
  text-align: center;
}

.start-intro {
  width: 100%;
  position: absolute;
  top: 5%;
  font-family: Helvetica, sans-serif;
  text-align: center;
  line-height: normal;
  font-size: 25px;
  color: rgba(127, 255, 255, 0.75);
  text-shadow: 0 0 10px rgba(0, 255, 255, 0.95);
}
.start-title {
  width: 100%;
  position: absolute;
  top: 20%;
  font-size: 50px;
  font-family: Helvetica, sans-serif;
  text-align: center;
  line-height: normal;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.75);
  text-shadow: 0 0 10px rgba(0, 255, 255, 0.95);
}
.start-credits {
  width: 100%;
  position: absolute;
  top: 80%;
  font-family: Helvetica, sans-serif;
  text-align: center;
  line-height: normal;
  font-size: 20px;
  color: rgba(127, 255, 255, 0.75);
  text-shadow: 0 0 10px rgba(0, 255, 255, 0.95);
}

#startButton {
  position: relative;
  font-size: 1.5em;
  padding: 5px 10px;
  height: 4em;
  width: 8em;
}

#loading-screen {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 1;
  transition: 1s opacity;
}

#loading-screen.fade-out {
  opacity: 0;
}
#loaderTitle {
  width: 100%;
  position: relative;
  top: 47.5%;
  font-size: 35px;
  font-family: Helvetica, sans-serif;
  text-align: center;
  line-height: normal;
  font-weight: bold;
  color: rgba(0, 255, 255, 0.75);
  text-shadow: 0 0 10px rgba(0, 255, 255, 0.95);
}
#loader {
  display: block;
  position: relative;
  left: 50%;
  top: 40%;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: rgba(0, 255, 255, 0.75);
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}
#loader:before {
  content: '';
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: rgba(0, 255, 255, 0.5);
  -webkit-animation: spin 3s linear infinite;
  animation: spin 3s linear infinite;
}
#loader:after {
  content: '';
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: rgba(0, 255, 255, 0.25);
  -webkit-animation: spin 1.5s linear infinite;
  animation: spin 1.5s linear infinite;
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

canvas {
  width: 100%;
  height: 100%;
  display: block;
}

.mapTitle {
  width: 100%;
  position: absolute;
  top: 15px;
  font-size: 38px;
  font-family: Helvetica, sans-serif;
  text-align: center;
  line-height: normal;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.75);
  text-shadow: 0 0 10px rgba(0, 255, 255, 0.95);
}

.menuElement {
  background: rgba(0, 70, 70, 0.75);
  box-shadow: 0px 0px 12px rgba(0, 255, 255, 0.5);
  border: 1px solid rgba(127, 255, 255, 0.25);
  font-family: Helvetica, sans-serif;
  text-align: center;
  line-height: normal;
}

#data {
  position: absolute;
  bottom: 20px;
  left: 20px;
  width: 288px;
  height: 260px;
  cursor: default;
}
.menuElement .title {
  position: absolute;
  top: 8px;
  left: 0px;
  right: 0px;
  font-size: 22px;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.75);
  text-shadow: 0 0 10px rgba(0, 255, 255, 0.95);
}
.menuElement .details {
  text-align: left;
  position: absolute;
  right: 0px;
  font-size: 18px;
  color: rgba(127, 255, 255, 0.75);
}

#designation {
  top: 40px;
  left: 10px;
}

#constellation {
  top: 65px;
  left: 10px;
}

#spectralType {
  top: 90px;
  left: 10px;
}

#luminosity {
  top: 115px;
  left: 10px;
}

#distance {
  top: 140px;
  left: 10px;
}

#coordinatesX {
  top: 165px;
  left: 10px;
}

#coordinatesY {
  top: 190px;
  left: 10px;
}

#coordinatesZ {
  top: 215px;
  left: 10px;
}

#menu {
  position: absolute;
  bottom: 20px;
  width: 100%;
  text-align: center;
}

button {
  background: rgba(0, 70, 70, 0.75);
  box-shadow: 0px 0px 12px rgba(0, 255, 255, 0.5);
  border: 1px solid rgba(127, 255, 255, 0.25);
  font-size: 1.2em;
  color: rgba(127, 255, 255, 0.75);
  padding: 5px 10px;
  height: 3em;
  width: 7em;
  cursor: pointer;
}
button:hover {
  background-color: rgba(0, 255, 255, 0.5);
}
button:active {
  color: #000000;
  background-color: rgba(0, 255, 255, 0.75);
}

#legend {
  position: absolute;
  right: 20px;
  bottom: 20px;
  width: 288px;
  height: 260px;
  cursor: default;
}
.dot {
  position: absolute;
  text-align: left;
  left: 10px;
  height: 25px;
  width: 25px;
  border-radius: 50%;
}
#oType {
  background-color: #6573fa;
  top: 40px;
}
#bType {
  background-color: #8c99fc;
  top: 70px;
}
#aType {
  background-color: #cacefd;
  top: 100px;
}
#fType {
  background-color: #fff1d7;
  top: 130px;
}
#gType {
  background-color: #feda98;
  top: 160px;
}
#kType {
  background-color: #fda85a;
  top: 190px;
}
#mType {
  background-color: #fc6647;
  top: 220px;
}
.menuElement .legendDetails {
  text-align: left;
  position: absolute;
  top: 2px;
  left: 36px;
  font-size: 18px;
  white-space: nowrap;
  color: rgba(127, 255, 255, 0.75);
}
